// Global styling for this template
html,
body {
  @media (min-width: 0px) and (max-width: 576px) {
    width: auto;
    margin: 2px !important;
  }
  width: 100%;
  margin: 0px;
  height: 100%;
  //   background-color: rgb(19, 19, 19);
  background-color: rgb(22, 22, 22);
}

body {
  @include body-font;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

a {
  color: $theme-primary;
  @include transition-all;
  &:hover,
  &:focus {
    color: darken($theme-primary, 10%);
  }
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: fade-out($gray-darker, 0.9);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 20px 0;
  h2 {
    font-size: 50px;
  }
}

.fa-facebook-f {
  color: rgb(59, 89, 152);
}

.fa-twitter {
  color: rgb(29, 161, 242);
}

// Parallax Backgrounds
.parallax-bg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

// @media (max-width: 568px) {
//   .parallax-bg {
//     background-attachment: scroll;
//   }
// }
