section.google-map {
  padding: 0px;
  .map-responsive {
    overflow: hidden;
    // padding-bottom: 56.25%;
    // position: relative;
    height: 500px;
  }
  .map-responsive iframe {
    position: absolute;
    width: 100%;
    left: 0;
    height: 500px;
  }
}
